


/*-----------------------------Colors---*/

.bg-color {
    background-color: #b10303;
}



/*-----------------------------Header---*/

header {
    margin: 0;
    border: solid;
    border-color: #b10303;
}

.logo {
    background: url("../images/get2goholidays_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
}

.tel_no {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #faf6f6ce;
}

.tel_no a {
    font-size: 30px;
    margin: 4px;
    color: #faf6f6ce;
}

.tel_no a:hover {
    color: #c5b720;
}

.menuitem {
    height:120px;
    padding: 0;
}

.menuitem a {
    color:#faf6f6ce;
    width: 100%;
    text-decoration:none;
    height: 120px;
    font-size: 22px;
    margin: 8px;
    text-align: center;
}

.menuitem a:hover {
    color: #c5b720;
}


/*-----------------------------Footer---*/

.footer-common {
    height: 120px;
    color: #faf6f6ce;
    font-size: 26px;
    letter-spacing: 2px;
}

.footer-common p a {
    color: #faf6f6ce;
}

.footer-common i {
    color: #faf6f6ce;
    font-size: 26px;
    padding: 4px;
}

.footer-common p a:hover {
    color:#c5b720
}

.footer-common i:hover {
    color: #c5b720;
}
