
/*-----------------------------General Classes---*/

.bg-color {
    background-color: #b10303;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*-----------------------------Header---*/

header {
    margin: 0;
    border: solid;
    border-color: #b10303;
}

.logo {
    background: url("../images/get2goholidays_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
}

.tel_no {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #faf6f6ce;
}

.tel_no a {
    font-size: 20px;
    margin: 4px;
    color: #faf6f6ce;
}

.tel_no a:hover {
    color: #c5b720;
}

.navbar-style {
    font-size: 20px;
}

.navbar-style a {
     color: #faf6f6ce;
}

.nav-item {
    height: 120px;
}

.nav-item:hover {
    background-color: rgba(255,0,0,0.2);
}

.nav-link {
    width: 100%;
    height: 120px;
}

.nav-link:hover {
    color: #c5b720;
}


/*-----------------------------Footer---*/

.footer-common {
    height: 120px;
    color: #faf6f6ce;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

.footer-common p a {
    color: #faf6f6ce;
}

.footer-common i {
    color: #faf6f6ce;
    font-size: 26px;
    font-family:Arial, Helvetica, sans-serif ;
    padding: 4px;
}

.footer-common p a:hover {
    color:#c5b720;
}

.footer-common i:hover {
    color: #c5b720;
}


/*-----------------------------HomePAge Slider/ Code obtained https://www.w3schools.com/howto/howto_css_flip_card.asp, editted to suit my website needs---*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 1000px;
  height: 600px;
  position: relative;
  overflow: hidden;
  margin: auto;
  padding-top: 30px;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #faf6f6ce;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #b10303;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #faf6f6ce;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgba(255,0,0,0.1);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*-----------------------------HomePage-Testimonials---*/

.testimonials-header{
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #b10303;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align:-webkit-center;
    padding-top:20px;
}

.testimonials {
    width: 100%;
    height: 100%;
}

.review {
    background-color: rgba(255,0,0,0.2);
    width: 90%;
    height: 90%;
    border: solid;
    border-radius: 10%;
    border-color: #b10303;
    margin: 20px;
    overflow: hidden;
}

.review p {
    text-align:center;
    text-transform:uppercase;
    padding-top: 20px;
}





/*-----------------------------HomePage-Why-book-with-us---*/

.why-book-with-us-header {
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #b10303;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align:-webkit-center;
    padding:20px;
}

.why-book-with-us {
    width: 100%;
}

.valueitem {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.valueitem i {
    display: block;
    padding: 10px;
    font-size:50px;
    color:#c5b720;
}

/*-----------------------------Destinations Page---*/

.section-container {
    width: 100%;
    height: 100%;
}

.destinations-header {
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #b10303;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align:-webkit-center;
    padding-top:20px;
}

.destinations-header i {
    padding: 30px;
    font-size: 75px;
}

.deal-type-container {
    position: relative;
    width: 100%;
    height: 400px;
}

.deal-type-container img {
    position: absolute;
    padding: 20px;
    width: 80%;
    height: 80%;
    overflow: hidden;
}

.type-caption {
    position: absolute;
    font-size: 26px;
    color: #faf6f6ce;
}

.btn-see-deals {
    position: absolute;   
    width: 50%;
    height: 10%;
    color:#faf6f6ce;
    background-color:#b10303;
    font-size: 18px;
    border-radius: 20%;
    bottom: 20%;
    right: 20%;
}

.btn-see-deals:hover {
    color: #c5b720;
}

.multi-type-container {
    padding: 20px;
}

.multi-type-container img {
    width: 300px;
    height: 300px;
    padding:20px;
    border-radius: 50%;
    background-color: #b10303;
    
}

/*-----------------------------Destinations Page/ Flip Card, Code obtained https://www.w3schools.com/howto/howto_css_flip_card.asp, editted to suit my website needs---*/


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px; 
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 50%;
  }
  
  .flip-card-back {
    background-color: #c5b720;
    color: #faf6f6ce;
    transform: rotateY(180deg);
    border-radius: 50%;
    padding-top: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*-----------------------------Enquiry Page---*/

  .form-container {
    background: url("../images/barbados.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:auto;
    padding:50px;
  }

    .enquiry-form {
        position:relative;
        width: 60%;
        height: auto;
        padding: 30px;
        color: #faf6f6ce;
        text-align: center;
        border:solid;
        border-color: #b10303;
        border-radius: 10%;
        background-color: rgba(255,0,0,0.4);
        font-family: 'Open Sans', sans-serif;
    }

    label {
        width:80%;
    }

    input {
        width: 80%;
    }

    #holiday-type,#deal {
        width: 80%;
    }

    #textarea {
        width:80%;
    }

    .btn-enquiry {
        width: 200px;
        height: 50px;
        color:#faf6f6ce;
        background-color:#b10303;
        font-size: 18px;
        border-radius: 20%;
        bottom: 50px;
        right: 140px;
    
    }

    .btn-enquiry:hover {
        color: #c5b720;
    }

    .contact-info {
        color: #faf6f6ce;
        letter-spacing: 2px;
    }

    .contact-info h2 {
        padding-bottom: 20px;
    }

    /*-----------------------------Enquiry Page---*/

    .landing-page {
        background: url("../images/background2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 80vh;
    }

    .thankyou-container {
        position: relative;
        border: solid;
        border-color:#b10303;
        border-radius: 80%;
        background-color:rgba(255,0,0,0.4);
        margin: 50px;
        width: 90vw;;
        height: 60vh;
        align-content:center;
        padding: 5%;
        
    }

    .message-container {
        color: #faf6f6ce;
        font-size:26px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-align:center;
    
    }

    .message-container h2 {
        font-size: 40px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 10px;
    }